<div class="router-body">
    <form class="router-inn-body" [formGroup]="taskManagement" (ngSubmit)="onSubmit()">
        <div class="row">
            <div class="col md-3">
                <label for="name" class="form-label">Employee Name</label>
                <input type="text" class="form-control" id="name" formControlName="name" >
                <div class="form-text text-danger" *ngIf="Ename.errors?.['required']  ">
                    First name is Required
                </div><br>
            </div>
            <div class="col mb-3">
                <label for="title" class="form-label">Task Title</label>
                <input type="text" class="form-control" id="title" formControlName="title">
                <div class="form-text text-danger" *ngIf="Task.errors?.['required']  ">
                    Task is Required
                </div><br>
            </div>
        </div>
        <div class="row">
            <div class="col md-6 mb-3 ">
                <label for="description" class="form-label">Description</label>
                <input type="text" class="form-control" id="description" formControlName="description">
            </div>
            <div class="col-md-3 mb-3 ">
                <label for="status " class="form-label">Status</label><br>
                <select class="form-control" id="status" formControlName="status">
                    <option value="pending">Pending</option>
                    <option value="completed">Completed</option>
                </select>
            </div>
        </div>
        <div class="col-6 mb-3">
            <label for="duedate" class="form-label">Due Date</label> <!-- Correct label -->
            <input type="date" class="form-control" id="duedate" formControlName="duedate">
            <!-- Changed type to date -->
        </div>
        <div class="row">
            <div class="col-3 offset-3">
                <div class="d-grid">
                    <button type="submit" [disabled]="taskManagement.invalid"
                        class="btn btn-primary justify-content-center" > Submit</button>
                        <!-- <div class="form-text text-danger" *ngIf="Ename.errors?.['required'] && Ename.touched ">
                            First name is Required
                        </div> -->
                </div>
            </div>
        </div>
    </form>
</div>