.card{
    height: 100%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    text-align: center;
}
.title {

    background-color: #ffffff; 
    color: #000000;
    text-align: center;
    padding: 10px 20px; 
    margin-bottom: 50px;
}

.button{
  align-items: center;
  
}